<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092636434259-land663ibklsgrj5sk4jsvnuadt7favt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092636434259-land663ibklsgrj5sk4jsvnuadt7favt</string>
	<key>API_KEY</key>
	<string>AIzaSyD74evaGIDV8Ot-30TbPPmJR5Pa7aSNfdA</string>
	<key>GCM_SENDER_ID</key>
	<string>1092636434259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePractice.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firebase-practice-a321123</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-practice-a321123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092636434259:ios:cfa3a5a595c81f03ba0ba6</string>
</dict>
</plist>